<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PR_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PR_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- カスタム アプリケーション設定(上級者向け)
         必要に応じてコメントアウトを外し、値を書き換えて使用してください。
         各設定のvalueにはデフォルトの設定値が記述されています。 -->
    <!-- プリコネR起動URI -->
    <!-- <add key="GameStartupUri" value="dmmgameplayer://play/GCL/priconner/cl/win" /> -->
    <!-- 上記URIに付加する引数 -->
    <!-- <add key="GameStartupUriArgs" value="" /> -->
    <!-- プリコネRの実行ファイルの名前(拡張子は省略してください) -->
    <!-- <add key="TargetAppName" value="PrincessConnectReDive" /> -->
    <!-- レジストリキーのパス(HKEY_CURRENT_USER) -->
    <!-- <add key="RegKey" value="Software\Cygames\PrincessConnectReDive" /> -->
    <!-- レジストリ値の名前 -->
    <!-- 解像度(横) -->
    <!-- <add key="WidthKey" value="Screenmanager Resolution Width_h182942802" /> -->
    <!-- 解像度(縦) -->
    <!-- <add key="HeightKey" value="Screenmanager Resolution Height_h2627697771" /> -->
    <!-- ウインドウまたはフルスクリーンモード -->
    <!-- <add key="fullScreenKey" value="Screenmanager Fullscreen mode_h3630240806" /> -->
    <!-- ネイティブ解像度 -->
    <!-- <add key="allowNativeKey" value="Screenmanager Resolution Use Native_h1405027254" /> -->
    <!-- モニタ選択 -->
    <!-- <add key="chooseMonitorKey" value="UnitySelectMonitor_h17969598" /> -->

    <!-- BETA機能設定
         BETA機能を使用するには、"add"要素のコメントアウトを外してください。 -->
    <!-- ゲーム実行中にリアルタイムで解像度の変更を適用(管理者権限が必要) -->
    <!-- <add key="ApplyInRunning" value="True" /> -->
    <!-- 設定を適用する際のメッセージボックスの表示を無効化する(エラーメッセージを除く) -->
    <!-- <add key="ShowApplyMessage" value="False"/> -->
    <!-- ショートカットキー(Ctrl + S)で設定を適用する -->
    <!-- <add key="EnableApplyShortcutKey" value="True"/> -->
  </appSettings>
  <applicationSettings>
    <PR_Manager.Properties.Settings>
      <setting name="ConfigFileVersion" serializeAs="String">
        <value>1.1.0</value>
      </setting>
    </PR_Manager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PR_Manager.Properties.Settings>
      <setting name="IsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="AllowNative" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChooseMonitor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllowFix" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AspectW" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="AspectH" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="GameEndButton" serializeAs="String">
        <value>Disabled</value>
      </setting>
      <setting name="ImportInStarting" serializeAs="String">
        <value>LasttimeEnded</value>
      </setting>
    </PR_Manager.Properties.Settings>
  </userSettings>
</configuration>
